apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: {{ .Release.Namespace }}
stringData:
  GITHUB_TOKEN: {{ .Values.GITHUB_TOKEN | squote }}
  GOOGLE_SHEETS_CREDENTIALS: {{ .Values.GOOGLE_SHEETS_CREDENTIALS | squote }}
  .env: |
    CURSOR_API_KEY={{ .Values.CURSOR_API_KEY | squote }}
    DEEPHIVE_ENV={{ .Values.DEEPHIVE_ENV | squote }}
    DEEPHIVE_IMAGE={{ .Values.DEEPHIVE_IMAGE | squote }}
    DEEPHIVE_REPO_URL={{ .Values.DEEPHIVE_REPO_URL | squote }}
    DEEPHIVE_USER={{ .Values.DEEPHIVE_USER | squote }}
    DEEPHIVE_VERSION={{ .Values.DEEPHIVE_VERSION | squote }}
    DISCORD_TOKEN={{ .Values.DISCORD_TOKEN | squote }}
    DIVI_CODEBASE_PATH={{ .Values.DIVI_CODEBASE_PATH | squote }}
    DIVI_REPO_URL={{ .Values.DIVI_REPO_URL | squote }}
    DIVI_BRANCH={{ .Values.DIVI_BRANCH | squote }}
    GH_TOKEN={{ .Values.GH_TOKEN | squote }}
    GIT_AUTHOR_EMAIL={{ .Values.GIT_AUTHOR_EMAIL | squote }}
    GIT_AUTHOR_NAME={{ .Values.GIT_AUTHOR_NAME | squote }}
    GIT_COMMITTER_EMAIL={{ .Values.GIT_COMMITTER_EMAIL | squote }}
    GIT_COMMITTER_NAME={{ .Values.GIT_COMMITTER_NAME | squote }}
    GIT_REF={{ .Values.GIT_REF | squote }}
    GITHUB_TOKEN={{ .Values.GH_TOKEN | squote }}
    INSTALL_PATH={{ .Values.INSTALL_PATH | squote }}
    LANGCHAIN_API_KEY={{ .Values.LANGCHAIN_API_KEY | squote }}
    LANGCHAIN_ENDPOINT={{ .Values.LANGCHAIN_ENDPOINT | squote }}
    LANGCHAIN_PROJECT={{ .Values.LANGCHAIN_PROJECT | squote }}
    LANGSMITH_API_KEY={{ .Values.LANGSMITH_API_KEY | squote }}
    MEMORY_LIMIT={{ .Values.MEMORY_LIMIT | squote }}
    OPENAI_API_KEY={{ .Values.OPENAI_API_KEY | squote }}
    PORT={{ .Values.PORT | squote }}
    REDIS_URL={{ .Values.REDIS_URL | squote }}
    REPLICAS={{ .Values.REPLICAS | squote }}
    SLACK_BOT_TOKEN={{ .Values.SLACK_BOT_TOKEN | squote }}
    SLACK_SIGNING_SECRET={{ .Values.SLACK_SIGNING_SECRET | squote }}
    TAVILY_API_KEY={{ .Values.TAVILY_API_KEY | squote }}
    VIRTUAL_HOST={{ .Values.VIRTUAL_HOST | squote }}
    WEAVIATE_API_KEY={{ .Values.WEAVIATE_API_KEY | squote }}
    WEAVIATE_HOST={{ .Values.WEAVIATE_HOST | squote }}
    WORKSPACE_ROOT={{ .Values.WORKSPACE_ROOT | squote }}
    ZENHUB_GRAPHQL_TOKEN={{ .Values.ZENHUB_GRAPHQL_TOKEN | squote }}
    ZENHUB_REST_TOKEN={{ .Values.ZENHUB_REST_TOKEN | squote }}

